 <div id="page-wrapper">
	 <div class="container-fluid">
<center>
<div class="content_row">
    <h2>Reset Password...</h2>

<%= form_tag password_resets_path, :method => :post do %>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div class="actions"><%= submit_tag "Reset Password" %></div>
<% end %>

 </div>
</center>
     </div>

</div>
